.body {
    background-color: #f4f4f4;
    color: black;
    margin: 0;
}

#header {
    text-align: center;
}

#header > div:first-child {
    background-color: #002350;
    color: #eebd1d;
    padding: 30px;

}

.content {
    width: 80%;
    max-width: 800%;
    margin: 30px auto;
    background-color: white;
    padding: 30px;
}

.content h2 {
    color: #00357a;
    border-bottom: 2px solid #eebd1d;
    padding-bottom: 5px;
}

.content h3 {
    color: #558f43;
}

.content p {
    line-height: 1.6;
}

.content img {
    border-radius: 50%;
    object-fit: cover;
}

.content a {
    color: #558f43;
}

.content li {
    margin-bottom: 8px;
}

#footer {
    text-align: center;
    background-color: #002350;
    color: #eebd1d;
    padding: 15px;
    margin-top: 30px;
}